.main-search
    max-width: 1280px
    font-size: 40px
    color: #fefefe
    &__input
        background-color: transparent
        border: none
        font-size: 40px
        width: 250px
        border-bottom: 1px solid #fefefe
        display: inline
        color: #fefefe
        &::-webkit-input-placeholder
            opacity: 0.8
        &::-moz-placeholder
            opacity: 0.8
        &:-ms-input-placeholder
            opacity: 0.8
        &input:-moz-placeholder
            opacity: 0.8
    &__button
        background-color: transparent
        border: none
        font-size: 40px
        display: inline
        color: #fefefe
