{% extends "layout.html.twig" %}

{% block content %}
    <div id="search"></div>

    <img src="images/logo.png" id="main_logo"/>

    <div class="main-search">
        <form action="/topic" method="post">
            How does
            <input type="text" class="main-search__input" name="username" placeholder="@username">
            feel about
            <input type="text" class="main-search__input" name="topic" placeholder="topic">
            ?
            <input type="submit" value="Find Out">
        </form>
    </div>
{% endblock %}
